<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="data-manager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `data-manager-element`
     * Data Manager Element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DataManagerElement extends Polymer.Element {
      static get is() { return 'data-manager-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'data-manager-element'
          }
        };
      }
    }

    window.customElements.define(DataManagerElement.is, DataManagerElement);
  </script>
</dom-module>
