<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<dom-module id="data-manager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="{{cargando}}">
      <paper-spinner active="{{cargando}}" class="green"></paper-spinner>
        <h3>Cargando:</h3>
    </template>
    <ul>
      <template is="dom-repeat" items="[[handleResponse]]" as="usuario">
          <li>{{usuario.name}}</li>
      </template>

    </ul>
      <!-- <h2>{{handleResponse.name}}</h2>
      <h2>{{handleResponse.username}}</h2>
      <h2>{{handleResponse.email}}</h2> -->
    <iron-ajax
      auto
      url="https://jsonplaceholder.typicode.com/users"
      handle-as="json"
      last-response="{{handleResponse}}"
      loading="{{cargando}}">
    </iron-ajax>
  </template>

  <script>
    /**
     * `data-manager-element`
     * Data Manager Element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DataManagerElement extends Polymer.Element {
      static get is() { return 'data-manager-element'; }
      static get properties() {
        return {
          handleResponse: {
            type: Object,
            value: () => {
              return {}
            },
            observer: '_success'
          },
          cargando:{
            type: Boolean,
            value: true
          }
        };
      }
      _success(){
        this.cargando = false
      }
    }

    window.customElements.define(DataManagerElement.is, DataManagerElement);
  </script>
</dom-module>
